.tag {
  padding: 2px 16px;
  width: auto;
  height: 20px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: opacity 0.3s ease-in-out;

  img {
    height: 0.8rem;
    width: 0.8rem;
  }

  &__disabled{
    opacity: 0.8;
  }

  &__cross {
    opacity: 0;
    transition: all 0.35s ease-in-out;
    margin-left: 0;
    transform: rotate(-45deg);

    &__visible {
      opacity: 1;
      margin-left: 0.5rem;
      transform: rotate(0deg);
      transition: all 0.35s ease-in-out;
    }
  }
}